apiVersion: datapower.ibm.com/v1beta3
kind: DataPowerService
metadata:
  name: ${release_name}
  namespace: ${namespace}
spec:
  license:
    accept: true
    license: ${license}
    # L-RJON-BYDR3Q
    use: ${use}
    #nonproduction
  resources:
    limits:
      memory: 4Gi
    requests:
      cpu: 1
      memory: 4Gi
  users:
    - name: admin
      accessLevel: privileged
      passwordSecret: dp-admin-secret
  version: ${version}
  # 10.0-cd
  replicas: 1
---
apiVersion: datapower.ibm.com/v1beta2
kind: DataPowerMonitor
metadata:
  name: ${release_name}
  namespace: ${namespace}