apiVersion: datapower.ibm.com/v1beta3
kind: DataPowerService
metadata:
  name: ${release_name}
  namespace: ${namespace}
spec:
  license:
    accept: true
    use: ${use}
    license: ${license}
  replicas: 1
  resources:
    limits:
      memory: 8Gi
    requests:
      cpu: 1
      memory: 4Gi
  version: ${version}
  users:
    - name: admin
      accessLevel: privileged
      passwordSecret: admin-credentials
  domains:
  - name: app
    certs:
    dpApp:
      config:
      - app-config
      local:
      - app-local
---
apiVersion: datapower.ibm.com/v1beta2
kind: DataPowerMonitor
metadata:
  name: ${release_name}
  namespace: ${namespace}