apiVersion: mq.ibm.com/v1beta1
kind: QueueManager
metadata:
  name: ${release_name}
spec:
  version: ${version}
  license:
    accept: true
    license: ${license}
    use: ${use}
  web:
    enabled: true
  queueManager:
    name: "MQSCINI"
    mqsc:
    - configMap:
        name: mqsc-${release_name}
        items:
        - ${release_name}.mqsc
    ini:
    - configMap:
        name: ini-${release_name}
        items:
        - ${release_name}.ini
    storage:
      queueManager:
        type: ephemeral
