apiVersion: integration.ibm.com/v1beta1
kind: PlatformNavigator
metadata:
    name: cp4i-navigator
spec:
    license:
        accept: true
        license: ${ cp4i_license }
    mqDashboard: true
    replicas: 3
    version: ${ cp4i_version }
    storage:
        class: ${ storageclass }
